---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - create
  - delete
  - list
  - patch
  - update
  - watch
- apiGroups:
  - engines.gizmodata.com
  resources:
  - gizmosqlserverclusters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - engines.gizmodata.com
  resources:
  - gizmosqlserverclusters/finalizers
  verbs:
  - update
- apiGroups:
  - engines.gizmodata.com
  resources:
  - gizmosqlserverclusters/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - gizmodata.com
  resources:
  - gizmosqlservers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gizmodata.com
  resources:
  - gizmosqlservers/finalizers
  verbs:
  - update
- apiGroups:
  - gizmodata.com
  resources:
  - gizmosqlservers/status
  verbs:
  - get
  - patch
  - update
