apiVersion: gizmodata.com/v1alpha1
kind: GizmoSQLServer
metadata:
  labels:
    app.kubernetes.io/name: gizmosql-operator
    app.kubernetes.io/managed-by: kustomize
  name: gizmosqlserver-sample
  namespace: default
spec:
  resources:
    limits:
      cpu: "1"
      memory: "2Gi"
    requests:
      cpu: "500m"
      memory: "1Gi"
